# SearXNG service env
SEARXNG_SECRET_KEY=adssdfF56fDV66nfaadsFAq34t@easdfasdFFSGDFfaasdfa~€€sdfasdas€dvjaipsdofa

# API service env (set these in MotorSRCH service, not here)
ENABLE_SEARXNG=1
SEARXNG_AS_PRIMARY=1
SEARXNG_URL=https://your-searxng-service-url
